.catkin_workspace
.vscode
.idea
build/
devel/
el_isolated/
el/
devel_isolated/
src/cmake-build-debug/
src/CMakeLists.txt.user
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.pyc
*.mvdat
*.pb.cc
*.pb.h
MV-*.config
src/CMakeLists.txt
src/RoboRTS/roborts_camera/mvsua/MVCaremaTool/*.o
src/RoboRTS/roborts_camera/config/camera_param.prototxt
src/RoboRTS/roborts_detection/armor_detection/constraint_set/config/constraint_set.prototxt
src/RoboRTS/roborts_camera/mvsua/CameraSettingTool/QT_Demo/Makefile
core
img/
