<launch>
    <!-- <arg name="image_name" value="/camera/color/image_raw" />
    <arg name="depth_image" value="/depth/image_rect_raw" />
    <node pkg="decision" name="face_detection" type="face_detection.py" output="screen">
        <remap from="input_rgb_image" to="$(arg image_name)" />
        <rosparam>
            haar_scaleFactor: 1.2
            haar_minNeighbors: 2
            haar_minSize: 40
            haar_maxSize: 60
        </rosparam>
        <param name="cascade_1" value="$(find decision)/para/haarcascade_frontalface_alt.xml" />
        <param name="cascade_2" value="$(find decision)/para/haarcascade_profileface.xml" />
    </node> -->

    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" />

    <!-- <node pkg="laser_filters" type="rgbd_scan_fusion" name="rgbd_fusion">
      <remap from="back_camera/depth/image_rect_raw" to="/camera/aligned_depth_to_color/image_raw" />
    </node> -->
    <!-- <node pkg="decision" type="" > -->
    <!-- <node pkg="decision" type="human_position.py" name="human_position" /> -->

    <!-- </node> -->

</launch>